**
!Dockerfile
!gradlew
!build.gradle
!settings.gradle
!gradle/
gradle/**
!gradle/wrapper/
gradle/wrapper/**
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!src/
src/**
!src/main/
src/main/**
!src/main/java/
!src/main/java/**
!src/main/resources/
src/main/resources/**
!src/main/resources/db/
src/main/resources/db/**
!src/main/resources/db/migration/
src/main/resources/db/migration/**
!src/main/resources/db/migration/*.sql
!src/main/resources/food-batch-defaults.properties
!src/main/resources/application-deployment.yml
!src/main/resources/nyam-defaults.properties
!src/main/resources/META-INF/
src/main/resources/META-INF/**
!src/main/resources/META-INF/spring.factories
!docker/
docker/**
!docker/entrypoint.sh
